.provinceSec {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 1;
    stroke-opacity: 1;
    stroke-linejoin: round;
    fill-opacity: 1;
}

.provinceSec:hover {
    transition: color 0.3s ease-in-out;
    fill: #432dd7;
}

.activeProvince {
    fill: #432dd7;
}

.provinceName {
    fill: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-anchor: middle;
    font: bold 12px Arial;
    cursor: pointer;
    opacity: 1;
}