.provinceSec {
   cursor: pointer;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   opacity: 1;
   stroke-opacity: 1;
   stroke-linejoin: round;
   fill-opacity: 1;
}

.provinceSec:hover {
   transition: color 0.3s ease-in-out;
   fill: #432dd7;
}

.activeProvince {
   fill: #432dd7;
}

.provinceName {
   fill: #000;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   text-anchor: middle;
   font: bold 12px Arial;
   cursor: pointer;
   opacity: 1;
}

.MapSectionContainer {
   padding-block: 1rem;
   position: relative;

   .MapSection {
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid #cad5da;
      border-radius: 20px;

      svg {
         width: 100%;
         height: 100%;
      }
   }
   .backWorldLink {
      background-color: #432dd7;
      display: flex;
      align-items: center;
      gap: 0.3em;
      color: white;
      width: fit-content;
      padding: 0.4em;
      border-radius: 0.7rem;
      position: absolute;
      left: 1rem;
      top: 2rem;
      cursor: pointer;
      z-index: 99;
   }
}

#worldMapPage .backWorldLink {
   display: none;
}
