@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui" {
   themes:
      light --default,
      dark --prefersdark,
      cupcake,
      bumblebee,
      emerald,
      corporate,
      synthwave,
      valentine,
      forest,
      luxury,
      coffee,
      caramellatte;
}

@theme {
   --background-image-gradient-radial: radial-gradient(
      var(--tw-gradient-stops)
   );
   --background-image-gradient-conic: conic-gradient(
      from 180deg at 50% 50%,
      var(--tw-gradient-stops)
   );
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
   *,
   ::after,
   ::before,
   ::backdrop,
   ::file-selector-button {
      border-color: var(--color-gray-200, currentColor);
   }
}

@layer scrollbar {
   /* Custom scrollbar styles */
   ::-webkit-scrollbar {
      width: 10px;
   }

   /* Scrollbar track */
   ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
   }

   /* Scrollbar handle */
   ::-webkit-scrollbar-thumb {
      background: blue;
      border-radius: 10px;
   }

   /* Scrollbar handle on hover */
   ::-webkit-scrollbar-thumb:hover {
      background: #3f00e7;
   }
}

.swiper-button-prev,
.swiper-button-next {
   background-color: white !important;
   border-radius: 50% !important;
   display: flex;
   width: 40px !important;
   height: 40px !important;
   justify-content: center;
   align-items: center;
}

.swiper-button-prev:after,
.swiper-button-next::after {
   font-size: 20px !important;
}
