/* All the style of this only for tiptap rich text editor and if you wants 
to modifiy or add new remember to user #tiptap-style before you select 
element to not have effect in other part of applications */

#tiptap-style h1 {
  font-size: 2.125rem;
  font-weight: bold;
}
#tiptap-style h2 {
  font-size: 1.875rem;
  font-weight: bold;
}
#tiptap-style h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

#tiptap-style ol li {
  list-style: decimal;
}

#tiptap-style ul li {
  list-style: disc;
}

#tiptap-style blockquote {
  font-size: 1.4em;
  margin: 5px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 6px 10px 6px 35px;
  border-left: 8px solid #4a00ff;
  line-height: 1.6;
  position: relative;
}

#tiptap-style blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #4a00ff;
  font-size: 2em;
  position: absolute;
  left: 10px;
  bottom: -50%;
  top: -50%;
  margin-top: 10px;
}

#tiptap-style blockquote::after {
  content: "";
}

#tiptap-style .ProseMirror {
  padding: 30px;
}

#tiptap-style a {
  color: blue;
  text-decoration: underline;
}

#tiptap-style pre {
  background: #2e2b29;
  border-radius: 0.5rem;
  color: white;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

#tiptap-style .character-count,
#tiptap-style .character-countcharacter-count--warning {
  align-items: center;
  color: gray;
  display: flex;
  font-size: 0.75rem;
  gap: 0.5rem;
  margin: 1.5rem;
}

#tiptap-style .character-count svg {
  color: #4338ca;
}

#tiptap-style .character-countcharacter-count--warning,
#tiptap-style .character-countcharacter-count--warning svg {
  color: red;
}
