name: Count Lines of Code

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  count-loc:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install cloc
        run: sudo apt-get update && sudo apt-get install -y cloc

      - name: Run cloc and save to file
        run: cloc . --exclude-dir=.git,node_modules,.next,dist,build > cloc-output.txt

      - name: Upload cloc report
        uses: actions/upload-artifact@v2.3.0
        with:
          name: cloc-report
          path: cloc-output.txt
